.col{
  padding-top: 150px;
}

#btnadd{
  width: 600px;
}

#nama, #harga, #stock{
  background-color: white;
  color: black;
}

#gambar1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
