.container{
  padding-top: 100px;
}

#col2{
  width: 500px;
}

#trash{
  width: 30px;
  height: 30px;
}

#sepatu{
  width: 300px;
  height: 300px;
}

#tas{
  width: 400px;
  height: 300px;
}

#btnbuy{
  width: 300px;
}

h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#form1{
  padding-left: 50px;
}

#gambar{
  width: 300px;
  height: 254px;
}

#kuantitas, #kuantitas2{
  width: 50px;
  text-align: center;
  border: none;
  background-color: white;
  color: black;

}

#plus, #min{
  display: inline;
}

.container{
  grid-row-gap: 100px;
}

#image-preview{
    display:none;
    width : 250px;
    height : 250px;
    padding-left: 100px;
}

#upload{
  position: relative;
  left: 200px;
  background-color: #1a53ff;
  background-size: 300px 100px;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
}

#judul{
  text-align: center;
}

.table{
  margin-top: 20px;
}
